body {
    background: linear-gradient(45deg, #f3f4f6, #ffffff);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.myContainer {
    margin: 40px auto;
    max-width: 1440px;
}

.svg-container {
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s;
}

.svg-container:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.small_svg,
.large_svg {
    width: 100%;
    background: rgba(74, 82, 90, 0.05);
    /* A subtle blue tint for the SVG background */
}

.large_svg {
    height: 550px;
}

.small_svg {
    height: 500px;
}

textarea {
    resize: none;
    border: 1px solid #e0e0e0;
    transition: border-color 0.3s;
}

textarea:hover {
    border-color: #007bff;
    /* Match with Bootstrap primary color */
}

h1 {
    font-weight: 500;
    border-bottom: 2px solid #020507;
    /* Match with Bootstrap primary color */
    padding-bottom: 10px;
    margin-bottom: 20px;
}